# cmake and build files
native_dev/CMakeFiles/
native_dev/build/
native_dev/CMakeCache.txt
native_dev/cmake_install.cmake

#visual studio development files
.vs
.vscode
vs_dev/Debug
vs_dev/UnitTesting/
vs_dev/x64/
vs_dev/natural_earth_vector.zip
*.sln
*.vcxproj
*.vcxproj.*


ignored/
docs/