#vscode and wsl development files
#CMakeLists.txt
CMakeFiles/
native_dev/build/
.vscode

native_dev/CMakeCache.txt

#visual studio development files
.vs
vs_dev/Debug
vs_dev/UnitTesting/
vs_dev/x64/
vs_dev/natural_earth_vector.zip

*.sln
*.vcxproj
*.vcxproj.*

native_dev/CMakeCache.txt
native_dev/CMakeLists.txt

ignored/