#vscode and wsl development files
#CMakeLists.txt
CMakeFiles/
CMakeCache.txt
build/
.vscode

#visual studio development files
.vs
vs_dev/Debug
vs_dev/UnitTesting/
vs_dev/x64/
vs_dev/natural_earth_vector.zip

*.sln
*.vcxproj
*.vcxproj.*

